/**
 * Default theme
 */

@font_family: "Helvetica Neue", Helvetica, arial, "Microsoft Yahei", "微软雅黑", "宋体", sans-serif;

@border_radius: 2px;


// -- @title1: PRIMARY
@color_primary_01: rgb(45, 71, 85);
@color_primary_02: rgb(82, 115, 132);
@color_primary_03: rgb(165, 185, 196);
@color_primary_04: rgb(193, 11, 64);

// -- @title2: ACCENT
@color_accent_05: rgb(55, 128, 168);
@color_accent_06: rgb(229, 75, 75);
@color_accent_07: rgb(15, 112, 154);

// -- @title3: NEUTRAL
@color_neutral_07: rgb(37, 42, 45);
@color_neutral_08: rgb(43, 54, 58);
@color_neutral_09: rgb(114, 130, 147);
@color_neutral_10: rgb(169, 179, 189);
@color_neutral_11: rgb(217, 227, 229);
@color_neutral_12: rgb(241, 245, 248);
@color_neutral_13: rgb(255, 255, 255);


// -- @Ashe: Ashe
@color_white: #FFFFFF;
@color_content: #7688AD;
@color_character_grade_one: #333333;
@color_character_grade_two: #666666;
@color_character_grade_three: #999999;
@color_background: #FAFBFC;
@color_button_gray: #F0F1F6;
@color_button_gray_hover: #C0E4FF;
@color_detail_symbol: #BFBFBF;
@color_button_green: #3A9C7B;
@color_module_gray: #9FC8F7;
@color_button_blue: #0280DF;
@color_button_blue_hover: #095C9B;
@color_button_red: #D95D53;
@color_button_red_hover: #DD3426;
@color_border_grey: #D7DAE2;

